@active-color: rgb(248, 8, 8);
@dark-color: darkslategray;
@dark-button: rgba(34, 34, 34, 0.9);
@default-btn-hover: rgb(8, 212, 21);
@hero-bg: rgb(245, 245, 220, .9);

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}


header {
    position: sticky;
    top: 0px;
    z-index: 200;
    background-color: rgba(34, 34, 34, 0.9);
}


.main-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    text-align: center;
    color: @dark-color;
    margin: auto;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    text-align: center;
    color: @dark-color;
    margin: 20px auto;
}

.cards-container {
    .container();
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    min-width: 400px;
    min-height: 300px;
    max-width: 400px;
    max-height: 300px;
    background-color: transparent;

    .poke-img-container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 45px;
        width: 70px;
        z-index: 100;

        img {
            // position:relative;
            // left: -150px;
            max-width: 220px;
            max-height: 220px;
            cursor: pointer;
            filter: drop-shadow(2px 2px 4px #222);
        }
    }

    .info {
        position: relative;
        text-align: left;
        border-radius: 15px;
        border-style: double;
        left: 10px;
        width: 70%;
        height: 270px;
        margin: 0px;
        // padding: 20px;
        padding: 10px 20px 20px 60px;
        background-color: white;
        box-shadow: 2px 2px 4px #000000;
        z-index: 0;

        h1 {
            text-align: center;
            margin: 0px 0px 35px 0px;
        }

        p {
            margin-left: 60px;
        }

    }
}

.btn-main {
    height: 40px;
    min-width: 100px;
    max-width: fit-content;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(2, 167, 13);
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: 300ms;
}

.btn-main:hover {
    background-color: @default-btn-hover;
}

.searchbar {
    label {
        display: block;
        margin: 0px;
    }

    input {
        height: 40px;
        width: 220px;
        padding: 10px;
        border-radius: 10px 0px 0px 10px;
        border: none;
        box-shadow: 0px 0px 3px black;


    }

    input::placeholder {
        font-family: 'Montserrat', sans-serif;
        padding: 10px;
    }

    input:focus {
        border: none;
    }

    button {
        .btn-main();
        box-shadow: 0px 0px 3px black;
        border-radius: 0px 10px 10px 0px;
        position: relative;
        width: fit-content;
        height: 41.5px;

    }

    button:hover {
        background-color: @default-btn-hover;
    }

}

.pagination {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;

    li {
        padding: 3px;
        display: flex;
        text-align: center;
        justify-content: center;
        width: 100%;

        // padding: 5px;
        a {
            box-shadow: 1px 1px 3px black;
        }

        a.first {
            .btn-main();
            padding: 7px;
            border: 1px solid rgb(20, 20, 20);
            border-radius: 15px 0px 0px 15px;
            height: 35px;
            width: 120px;
            color: white;
            font-weight: 300;
            background-color: @dark-button;
            margin: auto;

        }

        a.second {
            .btn-main();
            padding: 7px;
            border: 1px solid rgb(20, 20, 20);
            border-radius: 0px 15px 15px 0px;
            height: 35px;
            width: 120px;
            color: white;
            font-weight: 300;
            background-color: @dark-button;
            margin: auto;
        }

        a.disabled {
            .btn-main();
            padding: 7px;
            border: 1px solid rgb(20, 20, 20);
            height: 35px;
            width: 120px;
            font-weight: 300;
            margin: auto;
            border: 1px solid #999999;
            background-color: #cccccc;
            color: #666666;
            cursor: default;
        }

        a.disabled:hover {
            .btn-main();
            padding: 7px;
            border: 1px solid rgb(20, 20, 20);
            height: 35px;
            width: 120px;
            font-weight: 300;
            margin: auto;
            border: 1px solid #999999;
            background-color: #cccccc;
            color: #666666;
            cursor: default;
        }

        a:hover {
            border: 1px solid rgb(144, 2, 2);
            background-color: @active-color;
        }

        input {
            display:flex;
            font-family: 'Montserrat', sans-serif;;
            justify-content: center;
            align-items: center;
            width: 50px;
            padding:5px;
            text-align: center;
            border: none;
            border-radius: 5px;
            box-shadow: 0px 0px 3px black;

        }
    }

}

.app-container {
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100vh;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -100;
}

nav {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5rem;
    color: @active-color;
    text-shadow: 2px 2px 4px #222;

    img {
        width: 4rem;
        margin: 0px 5px 0px 20px;
        filter: drop-shadow(2px 2px 4px #222);
    }

    span {
        color: white;
    }

}


.bar-btn {
    font-size: 25px;
    color: white;
    margin-right: 20px;
    cursor: pointer;
}

.nav-menu {
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background: rgba(0, 0, 0, .95);
    text-align: center;
    transition: all .5s;

    li {
        display: none;
        line-height: 50px;
        margin: 5px 0;
        transition: all .5s;

        a {
            color: #fff;
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 600;


        }

        a:hover {
            color: @active-color;
            transition: .3s;
        }

        a.active {
            color: @active-color;
            transition: .3s;
        }
    }

}

#check {
    display: none;
}

#check:checked~.nav-menu {
    height: 100vh;
    z-index: 100;
}

#check:checked~.nav-menu li {
    display: block;
}

.hero {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 95%;
    text-align: center;
    color: @dark-color;
    margin: auto;
    background-color: @hero-bg;
    border-style: double;
    padding: 30px;

    .btn-main {
        padding: 15px;
    }

    .main-message {
        text-align: center;

        h1 {
            margin-bottom: 10px;
        }

        h4 {
            margin-bottom: 30px;
        }
    }

}


//VERSION ESCRITORIO:
@media screen and (min-width: 768px) {
    .logo {
        margin-left: 50px;
    }

    nav {
        height: 100px;

    }

    .bar-btn {
        display: none
    }

    .nav-menu {
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        transition: none;
        text-align: center;

        li {
            display: inline-block;
            line-height: 100px;
            margin: 0, 2px;
            transition: none;

            a {
                font-size: 17px;
                margin: 0 10px;
            }
        }

    }
}